<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="YbConnect" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <appSettings>
    <!--数据库类型-->
    <add key="DBType" value="SQL" />
    <add key="AdminUser" value="admin" />
    <add key="LoginForm" value="login.html" />
    <!--活动超时时间初始化 单位：分钟-->
    <add key="ActiveTimeout" value="30" />
    <!-- 权限平台权限树跟结点-->
    <add key="GenericTreeId" value="9e0890df7c45487e9b0a2d5b02506774"></add>
    <!-- 奖助申请树节点-->
    <add key="ProjectApplyTreeId" value="39e78a6c-8d0d-4084-89b6-9a378977"></add>
    <!-- 奖助核对树节点-->
    <add key="ProjectApplyCheckTreeId" value="761f1531-ef31-4170-a90f-20344b48"></add>
    <!-- 保险核对树节点-->
    <add key="InsurApplyCheckTreeId" value="e3f7b1f2-8d9e-4c1a-beaa-8b042666"></add>
    <!-- 贷款核对树节点-->
    <add key="LoanApplyCheckTreeId" value="3c2885bb-a750-4e54-9530-2862b37e"></add>
    <!-- 困难生认定申请树节点-->
    <add key="DstApplyTreeId" value="675b4548-5ade-4f64-9ec2-23476533"></add>
    <!-- 家庭经济调查树节点-->
    <add key="DstSurveyTreeId" value="ff250fdd-7cbd-4515-ac32-b7a19858"></add>
    <!-- 初始密码-->
    <add key="InitPassword" value="123456"></add>
    <!--允许上传文件的大小，单位KB千字节-->
    <add key="MaxFileLength" value="10240" />
    <!-- 存储上传文件的文件夹名称-->
    <add key="FilePath" value="UploadFile" />
    <!--允许上传图片的大小，单位KB千字节-->
    <add key="MaxPhotoLength" value="2048" />
    <!-- 存储上传图片的文件夹名称-->
    <add key="PhotoPath" value="UploadPhoto" />
    <!-- 奖助项目文件存储归档路径-->
    <add key="JZApplyFileDirectory" value="JZ\Apply" />
    <!-- 头像上传存储归档路径-->
    <add key="TXPhotoPath" value="TX" />
    <!-- 家庭调查附件上传存储归档路径-->
    <add key="DSTSurveyPhotoPath" value="DST\Survey" />
    <!-- 公告附件上传存储归档路径-->
    <add key="NoticeFilePath" value="NOTICE" />
    <!-- 发送方邮箱地址-->
    <add key="MailFrom" value="dxszzxt@163.com" />
    <!-- 发送方邮箱密码-->
    <add key="MailPw" value="2017dxszzxt" />
    <!-- 系统名称-->
    <add key="PrivateKey" value="dxszzxt" />
    <!-- 保险附件上传存储归档路径-->
    <add key="InsurFilePath" value="INSUR" />
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" maxQueryStringLength="2097151" executionTimeout="300" maxRequestLength="102400"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <authentication mode="Windows" />
    <compilation debug="true" targetFramework="4.0"/>
    <pages>
      <controls>
        <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
      </controls>
    </pages>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <remove value="iisstart.htm" />
        <remove value="index.html" />
        <remove value="index.htm" />
        <remove value="Default.asp" />
        <remove value="default.aspx" />
        <remove value="Default.htm" />
        <add value="login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <YbConnect>
    <add key="AppId" value="321a8e203164b766"/>
    <!--<add key="Callback" value="http://localhost:49579/AdminLTE_Mod/Yb/Yb.aspx"/>-->
    <add key="Callback" value="http://116.1.2.242:3489/AdminLTE_Mod/Yb/Yb.aspx"/>
    <add key="Type" value="web"/>
    <add key="AppSecret" value="7bec64e56318903083ee49956c2c184d"/>
  </YbConnect>
</configuration>