<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="HqMail.Log" type="HqMail.Log.Config.Log4NetConfigurationSectionHandler, HqMail.Log" />
    <section name="YbConnect" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
  </configSections>
  <log4net>
    <!--定义日志的输出媒介，下面定义日志以四种方式输出。也可以下面的按照一种类型或其他类型输出。-->
    <root>
      <level value="Debug" />
      <!-- 文件形式记录日志
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
      <appender-ref ref="AdoNetSQLSERVER" />-->
      <appender-ref ref="AdoNetSQLSERVER" />
    </root>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="HqMail.Log.Appender.FileAppender">
      <!--定义文件存放位置-->
      <param name="File" value="log-file.log" />
      <param name="AppendToFile" value="true" />
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <rollingStyle value="Date" />
      <!--按日期产生文件夹和文件名［在日期方式与混合方式下使用］-->
      <!--此处按日期产生文件夹，文件名固定 -->
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="HqMail.Log.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="by" />
        <!--输出格式-->
        <!--样例：2010-06-11 13:42:32,111 [10] INFO  MainClass [(null)] - info-->
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline" />
      </layout>
    </appender>
    <!--定义输出到文件中-->
    <appender name="RollingLogFileAppender" type="HqMail.Log.Appender.RollingFileAppender">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="10" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyyMMdd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <layout type="HqMail.Log.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：2010-06-11 13:42:32,111 [10] INFO  MainClass [(null)] - info-->
        <conversionPattern value="记录时间：%date 描述：%message%newline" />
      </layout>
    </appender>
    <!--定义输出到数据库中，这里举例输出到oracle数据库中-->
    <appender name="AdoNetSQLSERVER" type="HqMail.Log.Appender.AdoNetAppender">
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="Server=CWAPP\MSSQLSERVER08R2;Database=UNIVERSTAKE;uid=sa;pwd=erp-china" />
      <commandText value="INSERT INTO LOG_SYS_OPERATION (OID,SEQ_NO,OPERATOR,IP,LOG_DATE,LOG_LEVEL,LOG_MESSAGE,ACTION_TYPE,IC,ACCESS_URL,RECORD_TYPE,ORGANIZE_CODE,ORGANIZE_NAME) VALUES (@oid,@seqno,@operator,@ip,@logdate, @loglevel,@message, @action_type,@icno,@url,@recordtype,@orgcode,@orgname)" />
      <!--定义各个参数-->
      <bufferSize value="1" />
      <!--主键-->
      <parameter>
        <parameterName value="@oid" />
        <dbType value="String" />
        <size value="40" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{OID}" />
        </layout>
      </parameter>
      <!--记录时间-->
      <parameter>
        <parameterName value="@logdate" />
        <dbType value="String" />
        <size value="30" />
        <layout type="HqMail.Log.Layout.PatternLayout">
          <conversionPattern value="%date" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@loglevel" />
        <dbType value="String" />
        <size value="300" />
        <layout type="HqMail.Log.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="500" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{Message}" />
        </layout>
      </parameter>
      <!--操作者-->
      <parameter>
        <parameterName value="@operator" />
        <dbType value="String" />
        <size value="40" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{Operator}" />
        </layout>
      </parameter>
      <!--IP地址-->
      <parameter>
        <parameterName value="@ip" />
        <dbType value="String" />
        <size value="20" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{IP}" />
        </layout>
      </parameter>
      <!--单据编号-->
      <parameter>
        <parameterName value="@seqno" />
        <dbType value="String" />
        <size value="20" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{SEQNO}" />
        </layout>
      </parameter>
      <!--操作类型-->
      <parameter>
        <parameterName value="@action_type" />
        <dbType value="String" />
        <size value="10" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{ActionType}" />
        </layout>
      </parameter>
      <!--IC卡号-->
      <parameter>
        <parameterName value="@icno" />
        <dbType value="String" />
        <size value="100" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{IC}" />
        </layout>
      </parameter>
      <!--访问URL路径-->
      <parameter>
        <parameterName value="@url" />
        <dbType value="String" />
        <size value="100" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{Url}" />
        </layout>
      </parameter>
      <!--记录类型-->
      <parameter>
        <parameterName value="@recordtype" />
        <dbType value="String" />
        <size value="100" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{RecordType}" />
        </layout>
      </parameter>
      <!--机构代码-->
      <parameter>
        <parameterName value="@orgcode" />
        <dbType value="String" />
        <size value="20" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{OrganizeCode}" />
        </layout>
      </parameter>
      <!--机构名-->
      <parameter>
        <parameterName value="@orgname" />
        <dbType value="String" />
        <size value="100" />
        <layout type="HqMail.Log.Layout.ReflectionLayout">
          <conversionPattern value="%property{OrganizeName}" />
        </layout>
      </parameter>
    </appender>
  </log4net>
  <YbConnect>
    <add key="AppId" value="321a8e203164b766"/>
    <!--<add key="Callback" value="http://localhost:49579/AdminLTE_Mod/Yb/Yb.aspx"/>-->
    <add key="Callback" value="http://116.1.2.242:3489/AdminLTE_Mod/Yb/Yb.aspx"/>
    <add key="Type" value="web"/>
    <add key="AppSecret" value="7bec64e56318903083ee49956c2c184d"/>
  </YbConnect>
</configuration>