.mt30 {
    margin-top: 30px;
}
.clearfix {
    clear: both;
    /*float: none;*/
}
.funclist a {
    padding-right: 15px;
    color: #727F52;
}
img.imgcode {
    vertical-align: middle;
    margin: 0px 0px 3px 10px;
    padding: 0;
    margin-left: 8%;
}
input.vcode {
    height: 45px;
    width: 60%;
    display: inline
}
.fake-input {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 2px;
    left: 2px;
}
.pos_rel {
    position: relative;
}
.inputbox {
    width: 100%;
    height: 90px;
}
.inputbox input {
    border: 1px solid #ccc;
    padding: 0;
    margin: -1px 0 0 0;
    padding-left: 60px;
    line-height: 43px\9;
}
.inputbox input:focus {
    border: 1px solid #4DD2FF;
    z-index: 100;
}
.inputbox input.username {
    background: url('../img/username-bg.png') 0 0 no-repeat;
    background: url('../img/username-bg-s.png') 0 0 no-repeat\9;
    background-size: 50px 45px;
    background-color: #fff;
    width: 100%;
    height: 45px;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
}
.inputbox input.password {
    background: url('../img/password-bg.png') 0 0 no-repeat;
    background: url('../img/password-bg-s.png') 0 0 no-repeat\9;
    background-size: 50px 45px;
    background-color: #fff;
    width: 100%;
    height: 45px;
    position: relative;
    top: 0px;
    left: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
}
.codebox {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}
.codebox img {
    height: 40px;
    width: 45%;
    float: left;
}
.codebox input.code {
    float: right;
    width: 45%;
    height: 32px;
    padding-left: 5px;
}
.row-margin10 {
  margin-bottom: 10px;
}
.left-icon {
    font-size: 24px;
    width: 20%;
    float: left;
    text-align: center;
}
.left-icon-2 {
    font-size: 24px;
    width: 40px;
    float: left;
    text-align: left;
}
.itemdesc {
    width: 80%;
    float: right;
}
.itemdesc-2 {
    margin-left: 40px;
}
.itemdesc p, .itemdesc-2 p {
    color: #666 !important;
}
.itemdesc p {
    margin-top: 10px;
}
.itemdesc-2 p {
    margin-top: 5px;
}
/* #Font-Face
================================================== */

/*  This is the proper syntax for an @font-face file
    Just create a "fonts" folder at the root,
    copy your FontName into code below and remove
    comment brackets */

@font-face {
    font-family: 'vruc';
    src: url('../fonts/vruc.eot');
    src: url('../fonts/vruc.eot?#iefix') format('embedded-opentype'), url('../fonts/vruc.ttf') format('truetype'), url('../fonts/vruc.woff') format('woff'), url('../fonts/vruc.svg#vruc') format('svg');
    font-weight: normal;
    font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
    font-family: 'vruc';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-expand:before {
    content: "\e600";
}
.icon-idcard:before {
    content: "\e802";
}
.icon-cloud:before {
    content: "\e803";
}
.icon-table:before {
    content: "\e804";
}
.icon-mobile:before {
    content: "\e805";
}
.icon-link:before {
    content: "\e808";
}
.icon-vruc:before {
    content: "\e606";
}
.icon-hdd:before {
    content: "\e806";
}
.icon-clock:before {
    content: "\e800";
}

/*密码弹出警告*/
.pop-pw {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    position: relative;
    z-index: 99;
    margin: 10px -15px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}
.pop-pw .mycaret:before {
    display: inline-block;
    position: absolute;
    top: -15px;
    right: 40px;
    content: '';
    border-bottom: 15px solid #ccc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.pop-pw .mycaret:after {
    position: absolute;
    top: -13px;
    right: 40px;
    content: '';
    border-bottom: 15px solid #ccc;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom-color: #fff;
}
.pop-pw .cont {
    padding: 10px 15px 5px;
}
.pop-pw ul{
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 20px;
}
.pop-pw ul li{
    margin-bottom: 0px;
    font-size: 14px;
    color: #333;
    line-height: 26px;
    list-style-type: disc;
}
.pop-pw .foot {
    border-top: 1px solid #ccc;
    overflow: hidden;
    padding-top: 5px;
    padding: 5px 15px 10px 0px;
}
.pop-pw .foot a {
    float: right;
    margin-left: 20px;
    font-size: 14px;
}
.pop-pw .foot a.default { 
    color: #333;
}